{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="mb-3">Thank You</h2>
            <hr>
            <p>Your order information is below. A confirmation email will be sent to <h5>{{ order.email }}</h5>.</p>

            <div class="col">
                <div class="order-confirmation-wrapper border">
                    <div class="p-4">
                        <small class="text-muted">Order Info:</small>

                        <h5>Order Number<p>{{ order.order_number }}</p> </h5>
                        <h5>Order Date<p>{{ order.date }}</p></h5>
                    </div>
                    
                    
                    <div class="p-4">
                        <small class="text-muted">Order Details:</small>
                        {% for item in order.lineitems.all %}
                        <div style="display: grid; grid-template-columns: repeat(2,1fr);">
                            <h5>{{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}<p>{{ item.quantity }} @ ${{ item.product.price }} each</p></h5>
                            <h5>Order Date<p>{{ order.date }}</p></h5>
                        </div>

                        {% endfor %}
                    </div>
                    
                    
                    <div class="p-4">
                        <small class="text-muted">Delivering To:</small>

                        <h5>Full Name<p>{{ order.full_name }}</p> </h5>
                        <h5>Address 1<p>{{ order.street_address1 }}</p></h5>
                        {% if order.street_address2 %}
                            <h5>Address 2<p>{{ order.street_address1 }}</p></h5>
                        {% endif %}
                        {% if order.county %}
                            <h5>County<p>{{ order.county }}</p></h5>
                        {% endif %}
                        <h5>Town or City<p>{{ order.town_or_city }}</p></h5>
                        {% if order.postcode %}
                            <h5>Postal Code<p>{{ order.postcode }}</p></h5>
                        {% endif %}
                        <h5>Country<p>{{ order.country }}</p></h5>
                        <h5>Phone Number<p>{{ order.phone_number }}</p></h5>
                    </div>

                    <div class="p-4">
                        <small class="text-muted">Billing Info:</small>
                        <h5>Order Total<p>{{ order.order_total }}</p> </h5>
                        <h5>Delivery<p>{{ order.delivery_cost }}</p></h5>                        
                        <h4>Grand Total<h4 class="text-black">{{ order.grand_total }}</h4></h4>
                    </div>

                </div>
            </div>

            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span>Back to Profile</span>
                </a>
            {% else %}
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span>Now check out the latest deals!</span>
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}