
$purple:  purple !default;
$white:  white !default;

$theme-colors: (
  "primary": $purple,
  "secondary":  $white,
);

$primary:       $purple !default;
$secondary:     $white !default;

/*Carousel*/
$carousel-control-color:             $purple;



/*Navbar*/
$navbar-light-color:                rgba($white, .7);
$navbar-light-hover-color:          rgba($white, .5);
$navbar-light-active-color:         rgba($white, 1);
$navbar-light-disabled-color:       rgba($white, .3);




/*Dropdown button*/
$dropdown-bg:                       rgba($purple, .8);
$dropdown-link-color:               $white;
$dropdown-link-hover-color:         shade-color($white, 10%);
$dropdown-link-hover-bg:            rgba($white, .7);




/*Responsive Screen Sizes*/
$grid-breakpoints: (
  xs: 0,
  sm: 481px,
  md: 769px,
  lg: 1025px,
  xl: 1201px,
  xxl: 1501px
);






@import 'node_modules/bootstrap/scss/bootstrap';